.onboarding_container {
  width: 100vw;
  padding: 0 50px;
}

.navigation_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.details {
  display: flex;
  gap: 16px;
  align-items: center;
}

.user_avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  width: 80px;
  height: 56px;
  cursor: pointer;
}
