.form_wrapper {
  width: 360px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.form_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 48px;
}

.input_element {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 48px;
  margin-bottom: 28px;
  padding: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.form_button {
  background: #0e64d2;
  border-radius: 5px;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  margin-bottom: 24px;
}

.account_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.auth_action_tag {
  color: #2f89fc;
  margin-left: 8px;
}
