.form_wrapper {
  width: 360px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.form_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 48px;
}

.input_element {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 48px;
  margin-bottom: 28px;
  padding: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.form_button {
  background: #2f89fc;
  border-radius: 5px;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  border: none;
  margin-bottom: 24px;
  cursor: pointer;
}

.form_button:hover {
  background-color: #2f88fce4;
}

.account_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.auth_action_tag {
  color: #2f89fc;
  margin-left: 8px;
  cursor: pointer;
}

.line {
  border: 1px solid rgba(86, 84, 84, 0.188);
  width: 40%;
  height: 1px;
}

.auth_type__border_line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

.signin_With__google_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 60px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 12px;
  margin-top: 28px;
  cursor: pointer;
}

.signin_With__google_container:hover {
  background-color: #99999947;
  border: 1px solid white;
}
